@using Magistri.DTO

@model IEnumerable<SubjectDto>

<h1>List of subjects</h1>
<a class="btn btn-success my-2" asp-action="Create">Create</a>
<hr />
<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var subject in Model) {
        <div class="col">
            <div class="card border-primary mt-4 shadow-sm w-100">
                <div class="card-header">
                    @subject.Name
                </div>
                <div class="card-body text-primary">
                    <p class="card-text fst-italic">ID: @subject.Id</p>
                </div>
                <div class="card-footer bg-transparent border-primary">
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-warning w-100 rounded-1" asp-action="Update" asp-route-id="@subject.Id">Edit</a>
                        </div>
                        <div class="col">
                            <form method="post" style="display:inline">
                                <button type="submit" class="btn btn-danger w-100 rounded-1" asp-action="Delete" asp-route-id="@subject.Id">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>