@model string

<div class="text-center">
    <h1>@Model</h1>
    <p class="fs-5 fw-lighter">"This web application is designed for recording students and their evaluations by teachers."</p>
    <hr class="mb-4"/>
    <a class="btn btn-danger" type="button" asp-controller="Account" asp-action="Logout">Log Out</a>
</div>
