<?xml version="1.0" encoding="utf-8"?>
<publishData>
    <publishProfile
            profileName="site13968-WebDeploy"
            publishMethod="MSDeploy"
            publishUrl="site13968.siteasp.net"
            msdeploySite="site13968"
            userName="site13968"
            userPWD="4b_A=6Thc%7X"
            destinationAppUrl="http://school-webapp-marosh.runasp.net/"
    />
</publishData>
